#carousel-wrapper > *{
    display: none;
    

}

#carousel-wrapper .active{
    display: block;
}

.position-fix{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(3, 3, 3, 0.122);
    color: white;
}

#carousel-wrapper{
    position: relative;
}